.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.logo {
    height: 56px;
    width: auto;
    display: block;
}

@media (max-width: 800px) {
    .logo {
        height: 40px;
    }
}

