.root {
    padding: 50px 0px;
    margin-bottom: 64px;
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */

    display: flex;
    align-items: center;
}

.content {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content h2 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 16px;
    line-height: 22px;
}

@media (max-width: 800px) {
    .root {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hideSubtitleOnMobile {
        display: none;
    }

    .content h2 {
        font-size: 38px;
        line-height: 44px;
    }
}
